<div class="container">
  <header class="page-Header">
  <h1>
    {{ title }}
  </h1>
</header>
</div>
<br/><br/><br>
<div class="container">
  <app-employee-search
  (onSearchFormsubmit)="onSearchFormsubmit($event)"></app-employee-search>
</div>
<br/><br/><br>
<app-employee></app-employee>

<div *ngIf="employees != null && employees.length != 0" class="container">
  <table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Designation</th>
      <th>Salary</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      
    <tbody>
      <tr *ngFor = "let emp of employees">
        <td routerLink="/employees/{{emp.id}}">{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.designation}}</td>
        <td>{{emp.salary}}</td>   
        <td><button class="btn btn-primary" (click)="editEmployee(emp)"><span class="glyphicon glyphicon-pencil"></span></button></td> 
        <td><button class="btn btn-danger" (click)="deleteEmployee(emp)"><span class="glyphicon glyphicon-trash"></span></button></td>    
      </tr>
    </tbody>
  </table>
  <br/><br>
</div>
<div class="container">
  <button class="btn btn-primary" (click)="addEmployee()"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Employee</button>
</div>